// Tablets and Smaller
@media(max-width:800px){
  #showcase{
    .showcase-container{
      display: flex;
      flex-direction: column;
      height: 100%;
      text-align: center;
    } 
  }
  #home-d{
    .showcase-container{
      display: flex;
      flex-direction: column;
    }
  }
  #main-footer{
    .footer-container{
      display: flex;
      flex-direction: column;
      text-align: center;
      grid-gap: 0.5rem;
      form, .btn-main{
        width: 50%;
        margin: auto;
      }
    }
  }
}

// Smartphones
@media(max-width:400px){
  #header-home{
    height:20vh;
    .header-content{
      display: none;
    }
  }

  #header-inner{
    height:10rem;
  }

  img{
    width: 120px;
    height: 80px;
  }

  #home-d{
    img{
      margin-top: 15px;
      width: 100%;
      height: 100%;
    }
  }
  #main-nav{
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: 3px solid $main-color;
    }
    .social{
      margin-left: 0;
      align-items: center;
      margin-right: 0;
      padding-bottom: 10px;
    }
    ul{
      margin: auto;
    }
    li{
      font-size: 0.75rem;
      padding: 1rem;
    }
  }
  #logo{
    align-self: center;
  }
 

  // Stack Grid Columns
  #showcase .showcase-container,
  #home-a .features{
    grid-template-columns: 1fr;
  }

  #main-footer {
    .container{
      padding: 0.5rem;
    }
    .footer-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      ul{
        padding-top: 0.4rem;
        margin-bottom: 0;
      }
      p{margin-top: 0;}
    }
    
    }
}

// landscape
@media(max-height: 580px){
  #header-home{
    .container{
      padding-top: 0;
    }
  }
}

@media(max-height: 330px){
  #header-home{
    .header-content{
      h1{
        font-size: 2rem;
        }
      }
  }
}