// Utilities
@import 'variables';
$website-width: 1280px;

.container{
  max-width: $website-width;
  padding: 1.5rem;
  margin: auto;
  overflow: hidden;
}

// Padding
.py-1{
  padding-top: 0.5rem;
}

.py-2{
  padding-top: 1rem;
}

.py-3{
  padding-top: 2rem;
}

.py-4{
  padding-top: 4rem;
}

%btn-shared{
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

.btn{
  &-light{
    @extend %btn-shared;
    color: #333;
    background: $light-color;
  }
  
  &-main{
    @extend %btn-shared;
    color: #fff;
    background: $main-color;
  }

  &-dark{
    @extend %btn-shared;
    color: $light-color;
    background: $dark-color;
  }

  &-wide{
    width: 100%;
  }

  &:hover{
    @extend %btn-shared;
    background: $accent-main;
  }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover{
  background-color:$main-color;
}

.text-align{
  text-align: center;

}

.section-title{
  font-size: 3rem;
  display: block;
  padding-bottom: 0.5rem;
  font-weight: bold;
  color: $main-color;
  text-transform: uppercase;

}

.bottom-line{
  height: 3px;
  width: 10vw;
  background: $main-color;
  display: block;
  margin: 0 auto 1rem auto;
}



// Background 
.bg{
  &-light{
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-medium{
    background: $medium-color;
    color: set-text-color($medium-color);
  }
  &-dark{
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-main{
    background: $main-color;
    color: set-text-color($main-color);
  }
}

// Text Changes
.uppercase{
  text-transform: uppercase;
}

.focus{
  color: $accent-main;
  font-weight: bolder;
}