$main-color: #8C52FF;
$secondary-color: #B291F4;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #464A69;
$dark-bg: #30334B;
$accent-main: #FFB000;
$accent-light:#FADF0D;
$bg-image: url("../img/showcase.jpg");

// Set Text Color
@function set-text-color ($color){
  @if(lightness($color)>50){
    @return #000;
  } @else{
    @return #fff;
  }
}